.card {
  position: relative;
  border: 1px solid black;
  padding: 0.5em;
  background-color: rgb(0, 174, 255);
  text-align: center;
  
}

.card__bookmark {
  position: absolute;
  right: 20px;
  top: -10px;
  border-style: none;
  background-color: none;
  height: 40px;
  width: 30px; 
}

.card__show-answer {
  list-style: none;
  border: 1px solid black;
  
}