<nav class="nav classic-wrap">
  <a href="./index.html"><img src="../../images/home.svg" height="40" width="40" alt="home button" /></a>
  <a href="./bookmarks.html"
    ><img src="../../images/bookmark 20x20px.svg" height="40" width="40" alt="bookmark button"
  /></a>
  <a href="./create.html"><img src="../../images/create.svg" height="40" width="40" alt="create button" /></a>
  <a href="./profile.html"><img src="../../images/profil 2.svg" height="40" width="40" alt="my profil button" /></a>
</nav>
