.nav {
  background-color: var(--color-dark-gray);
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0.5em;
  right: 0.5em;
  border: 3px solid black;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin-top: 2em;
  padding: 1.5rem;
  z-index: 2000;
}

.nav--position {
  border-bottom: 2px solid wheat;
  border-radius: 10%;
}