.mb-20 {
  margin-bottom: 20px !important;
}

.h-500 {
  height: 500px;
}

.h-100vh {
  height: 100vh;
}

.no-list-style[role="list"] {
  list-style: none;
}
.classic-wrap {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}
.center-wrap {
  display: flex;
  justify-content:center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}
.text-center {
  text-align: center;
}