.mb-20 {
  margin-bottom: 20px !important;
}

.h-500 {
  height: 500px;
}

.h-100vh {
  height: 100vh;
}

.no-list-style {
  list-style-type: none;
}
.classic-wrap {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}